/* Add your CSS to this file */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    font-size: 18px;
    padding: 20px 20px ;
}

header ul {
    display: flex;
    list-style: none;
    color: #6b7280;
}

header ul li {
    margin:8px;
}

header a:hover{
    color: #5A67D8;
}

header ul li a{
    color: #6b7280;
    text-decoration: none;
}

.overview-hero .container{
    display: flex;
    flex-direction: row;
    background-color:#E2E8F0 ;
    padding:0px 200px;
}

.overview-hero img{
    height: 150px;
    width: 150px;
    margin:40px 40px 40px 150px;
}

.overview-hero-text{
    padding: 10px;
}

.learn-about .container{
    padding:30px;
}

.learn-about h2{
    font-size: 24px;
    color:#48BB78 ;
}

.learn-about h3{
    font-size: 21px;
    color:#48BB78 ;
}

.learn-about .cards{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.card{
    border: 1px solid #E2E8F0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  margin: 10px;
}



.card img{
    height: 150px;
    width: 150px;
}

.testing .container{
    display: flex;
    justify-content: space-between;
    background-color:#4A5568 ;
    color: #ffffff;
    padding:0px 200px;
}

.testing-desciption{
    padding: 0px 50px 0px 50px;
    margin: 60px;
}

.cta{
    justify-content: center;
    margin: 20px;
}

.cta .btn{
    background-color: #48BB78;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    padding:0px 20px;
    width: 500px;
}

.stories .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:0px 200px;
    margin:30px;
}

.stories article{
    display: flex;
    justify-content: space-between;
}

.stories .article-body{
    padding-right: 60px;
}

.stories h2{
  color: #5A67D8;
  margin-bottom: 30px;
}

.stories h3{
    font-size: 18px;
    margin: 0px 18px 10px 0px;
}

.stories a{
    color:#5A67D8 ;
    text-decoration: none;
}

.stories img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.newsletter .container{
    text-align: center;  
    background-color:#48BB78;
    color: #ffffff;
    padding:20px 200px;
}

.newsletter p{
    margin: 18px 200px;
    text-align: left;
}

.newsletter form{
    display: flex;
    justify-content: center;
    margin:0px;
}

.newsletter input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 250px;
  }

.newsletter .btn{
    background-color: #5A67D8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin:0px 10px;
}

footer .container{
  background-color: #4A5568;
  color: white;
  padding:0px 200px;
}

footer p{
    margin: 0px;
    padding:20px;
}